
@{
    ViewBag.Title = "Class wise Fees Master";
}
<style>
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9;
        }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 100px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <h5 class="font-weight-bolder text-white mb-0">ClassRoom wise Fees List</h5>
        </nav>
    </div>



    <!-- Modal -->

</nav>
<div class="row" id="FilterDiv" style="margin-left:19px">
    

    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
            <select data-placeholder="Select here.." id="ddlClassId" class="select2-single-placeholder form-control" style="width: 100%"></select>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus select-focus">
            <select tabindex="1" data-placeholder="Select here.." id="intActive" name="intActive" class="form-control floating">
                <option value="3">Select Status</option>
                <option value="1">Active</option>
                <option value="2">In-Active</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6 col-md-1">

        <a class="btn bg-gradient-info" onclick="GetFeesList(1)">Search</a>
    </div>
    <div class="col-sm-6 col-md-1">
        <a class="btn bg-gradient-dark" title="Clear" onclick="ClearData(2)"> Clear </a>

    </div>
</div>

<div class="row">

    <div style="margin-left:878px">
        <a href="#" class="btn bg-gradient-dark" onclick="ShowFilter()" title="Filter"><i class="fa fa-filter"></i></a>
        @*<a href="#" class="btn bg-gradient-dark" onclick="ShowFilter()" style="margin-left: 843px; margin-bottom: -64px;"><i class="fa fa-filter"></i></a>*@
    <a class="btn bg-gradient-info" title="Add Fees" data-bs-toggle="modal" data-bs-target="#Fees" onclick="Clear()">Add Fees</a>
    </div>
</div>



<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="dataTables_length" id="DataTables_Table_0_length">
                <label style="color:white">
                    Show
                    <select id="PageSize" onchange="GetSubjectList(1)" class="drpselect">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> entries
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Fees List</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <div id="tblBody"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Fees" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-left:173px"><span id="PopupTitle">Add Fees</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:black">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="basicinput"><b>Class Room</b></label>
                            <select class="form-control" id="ClassId">
                                <option value="0">Select ClassRoom</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Monthly Fees<span class="text-danger">*</span></label>
                            <input class="form-control form-control-alternative" type="text" id="Monthly" placeholder="Enter Monthly Fees">
                            <span id="errMonthly" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Yearly Fees<span class="text-danger">*</span></label>
                            <input class="form-control form-control-alternative" type="text" id="Yearly" placeholder="Enter Yearly Fees">
                            <span id="errYearly" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAdd" class="btn bg-gradient-info" onclick="InsertData()">Add</button>
                <button type="button" class="btn bg-gradient-dark" onclick="ClearData(1)">Clear</button>
                <input type="hidden" id="hdnintId" value="0" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete_Fees" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-left:174px"><span id="PopupTitle">Delete Fees</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"style="color:black">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-left:70px">Are you sure want to delete this Fees ?.</p>
            </div>
            <div class="modal-footer"style="padding-right: 166px">
                <button type="button" id="btnAdd" class="btn bg-gradient-danger" onclick="deleteFees()">Delete</button>
                <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                <input type="hidden" id="hdnintId" value="0" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="status" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-left:132px"><span id="PopupTitle">Status Confirmation</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:black">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-left:98px">Are you sure want to change status?</p>
            </div>
            <div class="modal-footer" style="padding-right: 146px">
                <button type="button" id="btnAdd" class="btn bg-gradient-info" onclick="UpdateStatus()">Change</button>
                <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
<script src="https://dreamguys.co.in/smarthr/blue/assets/js/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://dreamguys.co.in/smarthr/blue/assets/css/bootstrap-datetimepicker.min.css">
<script src="https://dreamguys.co.in/smarthr/blue/assets/js/moment.min.js"></script>
<script src="https://dreamguys.co.in/smarthr/blue/assets/js/bootstrap-datetimepicker.min.js"></script>
<!--End of Datetime js/css-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var type = 1




    function ShowFilter() {
        if (type == 1) {
            $('#FilterDiv').show();
            type = 2;
        }
        else {
            $('#FilterDiv').hide();
            type = 1;
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('#FilterDiv').hide();
        GetClassRoom();
        GetFeesList(1);
    });
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }


    $(function () {
        $("#Dob").datetimepicker({
            format: 'DD/MM/YYYY',
            maxDate: new Date,
            useCurrent: true,
            ignoreReadonly: true
        })
    });
    function InsertData() {

        var val = true;
        var Id = $('#hdnintId').val();
        var ClassId = $('#ClassId').val();
        var Monthly = $('#Monthly').val();
        if (Monthly == "" || /\S/.test(Monthly) == false) {
            $("#errMonthly").html("Please enter Monthly fees.");
            val = false;
        }
        var Yearly = $('#Yearly').val();
        if (Yearly == "" || /\S/.test(Yearly) == false) {
            $("#errYearly").html("Please enter Yearly fees.");
            val = false;
        }
        
        var formData = new FormData();
        if (val == false) {
            return;
        }

        formData.append('Id', Id);
        formData.append('ClassId', ClassId);
        formData.append('Monthly', Monthly);
        formData.append('Yearly', Yearly);
        ShowWait();
        $.ajax({
            type: "POST",
            url: '/Fees/InsertClassWiseFees',
            contentType: "application/json; charset=utf-8",
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                if (data != null) {
                    if (data == 'Success' && Id == 0) {
                        toastr.success('Fees inserted successfully');
                        GetFeesList(1);
                        $('#Fees').click();
                        ClearData(1);
                    }
                    else if (data == 'Updated' && Id > 0) {
                        toastr.success('Fees updated successfully');
                        GetFeesList(1);
                        $('#Fees').click();
                        ClearData(1);
                    }
                    else if (data == 'Exists') {
                        toastr.error('Fees already exists!');
                        $("#ClassId").val('0').trigger('change');
                        document.getElementById('Monthly').value = "";
                        document.getElementById('Yearly').value = "";
                    }
                }
                HideWait();
            },
            error: function (xyz) {
                HideWait();
                alert('errors');
            }
        });
    }
    function GetClassRoom() {
        var cls = {
        }
        $.ajax({
            url: '/Subject/GetClassRoom',
            contentType: "application/json; charset=utf-8",
            type: "GET",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                
                var html = "";
                html = html + ' <option value="0" selected>Select ClassRoom</option>';
                for (var i = 0; i < data.LSTClassRoomList.length; i++) {
                    html = html + '<option value="' + data.LSTClassRoomList[i].Id + '">' + data.LSTClassRoomList[i].ClassNo + '</option>';
                    $("#ClassId").empty();
                    $("#ClassId").append(html);
                    $("#ddlClassId").empty();
                    $("#ddlClassId").append(html);
                }
            }
        });
    }
    function GetFeesList(page) {

        var Id = 0;
       
        var intActive = document.getElementById('intActive').value;
        var ClassId = document.getElementById('ddlClassId').value;
        if (document.getElementById('PageSize') != null) {
            PageSize = document.getElementById('PageSize').value;
        }
        else {
            PageSize = 10;
        }
        if (page == undefined) {
            page = 1;
        }
        var PageIndex = page;

        PageIndex = page;
        var cls = {
            Id: Id,
            intActive: intActive,
            ClassId: ClassId,
            PageSize: PageSize,
            PageIndex: PageIndex,
        }
        ShowWait();
        $.ajax({
            url: '/Fees/GetClassWiseFees',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                $('#tblBody').empty();
                $('#tblBody').append(data);
                HideWait();
            },
            error: function (xhr) {
                HideWait();
                alert('errors');
            }
        });
    }

    function GetSingleFeesData(id) {
        $('#errSubjectName').html("");
        document.getElementById('btnAdd').innerHTML = "Update";
        $("#btnAdd").attr('title', 'Update');
        document.getElementById('PopupTitle').innerHTML = "Update Fees";
        var cls = {
            Id: id
        }

        $.ajax({
            url: '/Fees/GetSingleClassWiseFeesData',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {

                if (data != null) {
                    document.getElementById('hdnintId').value = data.LSTFeesList[0].Id;
                    document.getElementById('Monthly').value = data.LSTFeesList[0].Monthly;
                    document.getElementById('Yearly').value = data.LSTFeesList[0].Yearly;
                    $('#ClassId').val(data.LSTFeesList[0].ClassId).trigger("change");
                }
                else {
                    alert('error');
                }

            },
            error: function (xhr) {

                alert('errors');
            }
        });
    }

    function deleteFees() {
        var Id = document.getElementById('hdnintId').value;
        var cls = {
            Id: Id
        }
        ShowWait();
        $.ajax({
            url: '/Fees/deleteClassWiseFees',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {

                if (data.Response == 'Success' && Id > 0) {
                   
                    toastr.success('Fees deleted successfully');
                    document.getElementById('hdnintId').value = "0";
                    GetFeesList();
                    $('#delete_Fees').click();
                }
                else {
                    alert('error');
                }
                HideWait();
            },
            error: function (xhr) {
                HideWait();
                alert('errors');

            }
        });
    }

    function Clear() {
        document.getElementById('Monthly').value = "";
        $('#errMonthly').html("");
        document.getElementById('Yearly').value = "";
        $('#errYearly').html("");
        $("#ddlClassId").val('0').trigger('change');
        document.getElementById('btnAdd').innerHTML = "Add";
        $("#btnAdd").attr('title', 'Upload');
        document.getElementById('PopupTitle').innerHTML = "Add Fees";
    }
    function UpdateStatus() {
        var Id = document.getElementById('hdnintId').value;
        var cls = {
            Id: Id
        }
        ShowWait();
        $.ajax({
            url: '/Fees/UpdateStatus',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                if (data == 'success') {
                    toastr.success('status updated successfully.');
                    document.getElementById('hdnintId').value = "0";
                    GetFeesList(1);
                    $('#status').click();
                }
                else if (data == 'Exist') {
                    toastr.error('Exists');
                }
                else {
                    alert('error');
                }
                HideWait();
            },
            error: function (xhr) {
                HideWait();
                alert('errors');
            }
        });
    }
    function ClearData(type) {

        if (type == 1) {
            var Id = document.getElementById('hdnintId').value;
            document.getElementById('Monthly').value = "";
            $('#errMonthly').html("");
            document.getElementById('Yearly').value = "";
            $('#errYearly').html("");
            $("#ClassId").val('0').trigger('change');
            
            if (Id == "0") {

                document.getElementById('hdnintId').value = "0";
                document.getElementById('btnAdd').innerHTML = "Add";
                $("#btnAdd").attr('title', 'Add');
                document.getElementById('PopupTitle').innerHTML = "Add Fees";
            }
            else {
                document.getElementById('btnAdd').innerHTML = "Update";
                $("#btnAdd").attr('title', 'Update');
                document.getElementById('PopupTitle').innerHTML = "Update Fees";
            }
        }
        else {
            document.getElementById('intActive').value = '3';
            $("#ddlClassId").val('0').trigger('change');
            GetFeesList();
        }
    }
    function RemoveFile() {
        document.getElementById('divUploadFile').style.display = "block";
        document.getElementById('divFile').style.display = "none";
        //document.getElementById('hdnstrFile').value = "";
        bISFile = 0;
    }


    function opendeleteModel(id) {

        document.getElementById('hdnintId').value = id;
    }
    function openstatusModel(id) {

        document.getElementById('hdnintId').value = id;
    }
</script>
