
@{
    ViewBag.Title = "Fees Collection";
}

<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <h6 class="font-weight-bolder text-white mb-0">Fees List</h6>
        </nav>
    </div>
</nav>

<div class="row" id="FilterDiv" style="margin-left:19px">
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
            <select data-placeholder="Select here.." id="ddlClassId" onchange="onddlClass();" class="select2-single-placeholder form-control" style="width: 100%"></select>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
            <select data-placeholder="Select here.." id="ddlStudentId"  class="select2-single-placeholder form-control" style="width: 100%"></select>
        </div>
    </div>
    <div class="col-sm-6 col-md-1">

        <a class="btn bg-gradient-info" onclick="GetFeesList(1)">Search</a>
    </div>
    <div class="col-sm-6 col-md-1">
        <a class="btn bg-gradient-dark" title="Clear" onclick="ClearData(2)"> Clear </a>

    </div>
</div>

<a class="btn bg-gradient-info" title="Add Fees" data-bs-toggle="modal" data-bs-target="#Fees" onclick="Clear()" style="cursor: pointer; margin-left: 915px">Add Fees </a>


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="dataTables_length" id="DataTables_Table_0_length">
                <label style="color:white">
                    Show
                    <select id="PageSize" onchange="GetFeesList(1)" class="drpselect">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> entries
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Fees List</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <div id="tblBody"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Fees" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-left:173px"><span id="PopupTitle">Add Fees</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:black">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="basicinput"><b>Class Room</b></label>
                            <select class="form-control" id="ClassId" onchange="onClass();">
                                <option value="0">Select here..</option>
                            </select>
                            <span id="errClassNo" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="basicinput"><b>Student</b></label>
                            <select class="form-control js-example-basic-single" id="StudentId" onchange="onStudent();">
                                <option value="0">Select here..</option>
                            </select>
                            <span id="errStudent" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Roll No </label><br />
                            <span class="form-control" id="RollNo" name="RollNo"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Date</label>
                            <input class="form-control floating datetimepicker" type="Date" id="Date" autocomplete="off">
                            @*<input class="form-control datetimepicker" type="date" id="Dob" placeholder="Enter Dob">*@
                            <span id="errDate" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="basicinput"><b>Month</b></label>
                            <select class="form-control" id="MonthId">
                                <option value="0">Select here..</option>
                            </select>
                            <span id="errMonth" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="basicinput"><b>Year</b></label>
                            <select class="form-control" id="YearId"> 
                            <option value="0" selected="">Select Year</option>
                            <option value="2023">2023</option></select>
                            <span id="errYear" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">FeesAmount <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" id="FeesAmount" placeholder="Enter Fees Amount">
                            <span id="errFeesAmount" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <hr />
                    <h6 style="color:green">For your Information </h6>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Monthly Fees</label>
                            <span class="form-control" id="Monthly"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Yearly Fees</label>
                            <span contenteditable="false" class="form-control" id="Yearly"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin-left:120px">
                    <button type="button" id="btnAdd1" class="btn bg-gradient-danger"  onclick="InsertandPayData()">Save & Pay</button>
                    <button type="button" id="btnAdd" class="btn bg-gradient-info" onclick="InsertData()">Save</button>
                    <button type="button" class="btn bg-gradient-dark" onclick="ClearData(1)">Clear</button>
                    <input type="hidden" id="hdnintId" value="0" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete_Fees" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-left:132px"><span id="PopupTitle">Delete Fees</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"style="color:black">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-left:70px">Are you sure want to delete this Fees ?.</p>
            </div>

            <div class="modal-footer" style="padding-right: 166px">

                <button type="button" id="btnAdd" class="btn bg-gradient-danger" onclick="deleteFees()">Delete</button>
                <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                <input type="hidden" id="hdnintId" value="0" />
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    var type = 1
    function ShowFilter() {
        if (type == 1) {
            $('#FilterDiv').show();
            type = 2;
        }
        else {
            $('#FilterDiv').hide();
            type = 1;
        }
    }
</script>
<script>
    $(document).ready(function () {
        GetClassRoom();
        GetMonth();
        //GetYear();
        GetFeesList(1);
    });
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    $("#FeesAmount").keyup(function () {
        
        var amt = $('#FeesAmount').val();
       
        var Yearly = $('#Yearly').text();
        if (amt > Number(Yearly)) {
            $('#errFeesAmount').html('Fees must be less than YearlyFees.');
            $('#FeesAmount').val(0);
            return false;
        }
    });
    $(function () {
        $("#Dob").datetimepicker({
            format: 'DD/MM/YYYY',
            maxDate: new Date,
            useCurrent: true,
            ignoreReadonly: true
        })
    });
    function InsertData() {
        
        var val = true;
        var Id = $('#hdnintId').val();
        var ClassId = $('#ClassId').val();
        if (ClassId == 0) {
            $("#errClassNo").html("Please select classroom.");
            val = false;
        }
        var StudentId = $('#StudentId').val();
        if (StudentId == 0) {
            $("#errStudent").html("Please select student.");
            val = false;
        }
        var MonthId = $('#MonthId').val();
        if (MonthId == 0) {
            $("#errMonth").html("Please select month.");
            val = false;
        }
        var YearId = $('#YearId').val();
        if (YearId == 0) {
            $("#errYear").html("Please select year.");
            val = false;
        }
        var SearchText = $('#SearchText').val();
        var Date = $('#Date').val();
        if (Date == "" || /\S/.test(Date) == false) {
            $("#errDate").html("Please select date.");
            val = false;
        }
        var RollNo = $('#RollNo').text();
        var FeesAmount = $('#FeesAmount').val();
        if (FeesAmount == "" || /\S/.test(FeesAmount) == false) {
            $("#errFeesAmount").html("Please enter fees amount.");
            val = false;
        }
        var formData = new FormData();
        if (val == false) {
            return;
        }
        formData.append('Id', Id);
        formData.append('ClassId', ClassId);
        formData.append('StudentId', StudentId);
        formData.append('MonthId', MonthId);
        formData.append('YearId', YearId);
        formData.append('RollNo', RollNo);
        formData.append('Date', Date);
        formData.append('FeesAmount', FeesAmount);
        formData.append('SearchText', SearchText);
        ShowWait();
        $.ajax({
            type: "POST",
            url: '/Fees/InsertFees',
            contentType: "application/json; charset=utf-8",
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                if (data != null) {
                    if (data == 'Success' && Id == 0) {
                        toastr.success('Fees inserted successfully');
                        GetFeesList(1);
                        $('#Fees').click();
                        ClearData(1);
                    }
                    else if (data == 'Updated' && Id > 0) {
                        toastr.success('Fees updated successfully');
                        GetFeesList(1);
                        $('#Fees').click();
                        ClearData(1);
                    }
                    else if (data == 'Exists') {
                        toastr.error('Fees already exists!');
                        document.getElementById('Email').value = "";
                    }
                    else if (data == 'LastMonth') {
                        toastr.success('LastMonth Fees inserted successfully!');
                        GetFeesList(1);
                        $('#Fees').click();
                        ClearData(1);
                    }
                }
                HideWait();
            },
            error: function (xyz) {
                HideWait();
                alert('errors');
            }
        });
    }


    function InsertandPayData() {

        var val = true;
        var Id = $('#hdnintId').val();
        var ClassId = $('#ClassId').val();
        if (ClassId == 0) {
            $("#errClassNo").html("Please select classroom.");
            val = false;
        }
        var StudentId = $('#StudentId').val();
        if (StudentId == 0) {
            $("#errStudent").html("Please select student.");
            val = false;
        }
        var MonthId = $('#MonthId').val();
        if (MonthId == 0) {
            $("#errMonth").html("Please select month.");
            val = false;
        }
        var YearId = $('#YearId').val();
        if (YearId == 0) {
            $("#errYear").html("Please select year.");
            val = false;
        }
        var SearchText = $('#SearchText').val();
        var Date = $('#Date').val();
        if (Date == "" || /\S/.test(Date) == false) {
            $("#errDate").html("Please select date.");
            val = false;
        }
        var RollNo = $('#RollNo').text();
        var FeesAmount = $('#FeesAmount').val();
        if (FeesAmount == "" || /\S/.test(FeesAmount) == false) {
            $("#errFeesAmount").html("Please enter fees amount.");
            val = false;
        }
        var formData = new FormData();
        if (val == false) {
            return;
        }
        formData.append('Id', Id);
        formData.append('ClassId', ClassId);
        formData.append('StudentId', StudentId);
        formData.append('MonthId', MonthId);
        formData.append('YearId', YearId);
        formData.append('RollNo', RollNo);
        formData.append('Date', Date);
        formData.append('FeesAmount', FeesAmount);
        formData.append('SearchText', SearchText);
        ShowWait();
        $.ajax({
            type: "POST",
            url: '/Fees/InsertandPayFees',
            contentType: "application/json; charset=utf-8",
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                if (data != null) {
                    if (data == 'Success' && Id == 0) {
                        toastr.success('Fees inserted successfully');
                        GetFeesList(1);
                        $('#Fees').click();
                        ClearData(1);
                    }
                    else if (data == 'Updated' && Id > 0) {
                        toastr.success('Fees updated successfully');
                        GetFeesList(1);
                        $('#Fees').click();
                        ClearData(1);
                    }
                    else if (data == 'Exists') {
                        toastr.error('Fees already exists!');
                        $("#MonthId").val('0').trigger('change');
                    }
                    else if (data == 'LastMonth') {
                        toastr.success('LastMonth Fees inserted successfully!');
                        GetFeesList(1);
                        $('#Fees').click();
                        ClearData(1);
                    }
                }
                HideWait();
            },
            error: function (xyz) {
                HideWait();
                alert('errors');
            }
        });
    }
    function GetClassRoom() {
        var cls = {
        }
        $.ajax({
            url: '/Fees/GetClassRoom',
            contentType: "application/json; charset=utf-8",
            type: "GET",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                var html = "";
                html = html + ' <option value="0" selected>Select ClassRoom</option>';
                for (var i = 0; i < data.LSTClassRoomList.length; i++) {
                    html = html + '<option value="' + data.LSTClassRoomList[i].Id + '">' + data.LSTClassRoomList[i].ClassNo + '</option>';
                    $("#ClassId").empty();
                    $("#ClassId").append(html);
                    $("#ddlClassId").empty();
                    $("#ddlClassId").append(html);
                }
            }
        });
    }
    function GetMonth() {
        var cls = {
        }
        $.ajax({
            url: '/Fees/GetMonth',
            contentType: "application/json; charset=utf-8",
            type: "GET",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                var html = "";
                html = html + ' <option value="0" selected>Select Month</option>';
                for (var i = 0; i < data.LSTMonthList.length; i++) {
                    html = html + '<option value="' + data.LSTMonthList[i].Id + '">' + data.LSTMonthList[i].MonthName + '</option>';
                    $("#MonthId").empty();
                    $("#MonthId").append(html);
                    //$("#ddlClassId").empty();
                    //$("#ddlClassId").append(html);
                }
            }
        });
    }
    //function GetYear() {
    //    var cls = {
    //    }
    //    $.ajax({
    //        url: '/Fees/GetYear',
    //        contentType: "application/json; charset=utf-8",
    //        type: "GET",
    //        data: JSON.stringify({
    //            cls: cls
    //        }),
    //        success: function (data) {
    //            var html = "";
    //            html = html + ' <option value="0" selected>Select Year</option>';
    //            for (var i = 0; i < data.LSTYearList.length; i++) {
    //                html = html + '<option value="' + data.LSTYearList[i].Id + '">' + data.LSTYearList[i].Year + '</option>';
    //                $("#YearId").empty();
    //                $("#YearId").append(html);
    //                //$("#ddlClassId").empty();
    //                //$("#ddlClassId").append(html);
    //            }
    //        }
    //    });
    //}
    function onClass() {
        var ClassId = $('#ClassId').val();
        $.ajax({
            type: "GET",
            url: '/Fees/LoadStudent?ClassId=' + ClassId,
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                
                $('#StudentId').empty();
                $("#StudentId").append($("<option     />").val("0").text("Select student name.."));
                $.each(data, function (i, v) {
                    $("#StudentId").append($("<option     />").val(v.StudentId).text(v.StudentName));
                });
                $('#Monthly').empty();
                $("#Monthly").append();
                $.each(data, function (i, v) {
                    $("#Monthly").append($("<option     />").val(v.Monthly).text(v.Monthly));
                });
                $('#Yearly').empty();
                $("#Yearly").append();
                $.each(data, function (i, v) {
                    $("#Yearly").append($("<option     />").val(v.Yearly).text(v.Yearly));
                });
                HideWait();
            },
            failure: function () {
                HideWait();
                alert("Failed!");
            }
        });
    }
    function onStudent() {
        var StudentId = $('#StudentId').val();
        $.ajax({
            type: "GET",
            url: '/Fees/LoadRollNo?StudentId=' + StudentId,
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                
                $('#RollNo').empty();
                $("#RollNo").append();
                $.each(data, function (i, v) {
                    $("#RollNo").append($("<option     />").val(v.RollNo).text(v.RollNo));
                });
                HideWait();
            },
            failure: function () {
                HideWait();
                alert("Failed!");
            }
        });
    }

    function onddlClass() {
        debugger
        var ClassId = $('#ddlClassId').val();
        $.ajax({
            type: "GET",
            url: '/Fees/LoadDDlStudent?ClassId=' + ClassId,
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                $('#ddlStudentId').empty();
                $("#ddlStudentId").append($("<option     />").val("0").text("Select student name.."));
                $.each(data, function (i, v) {
                    $("#ddlStudentId").append($("<option     />").val(v.StudentId).text(v.StudentName));
                });
                HideWait();
            },
            failure: function () {
                HideWait();
                alert("Failed!");
            }
        });
    }
    function GetFeesList(page) {
        debugger
        var Id = 0;
        //var SearchText = document.getElementById('SearchText').value;
        var ClassId = document.getElementById('ddlClassId').value;
        var StudentId = document.getElementById('ddlStudentId').value;
        if (document.getElementById('PageSize') != null) {
            PageSize = document.getElementById('PageSize').value;
        }
        else {
            PageSize = 10;
        }
        if (page == undefined) {
            page = 1;
        }
        var PageIndex = page;
        PageIndex = page;
        var cls = {
            Id: Id,
            //SearchText: SearchText,
            ClassId: ClassId,
            StudentId: StudentId,
            PageSize: PageSize,
            PageIndex: PageIndex,
        }
        ShowWait();
        $.ajax({
            url: '/Fees/GetFees',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                $('#tblBody').empty();
                $('#tblBody').append(data);
                HideWait();
            },
            error: function (xhr) {
                HideWait();
                alert('errors');
            }
        });
    }
    function GetSingleFeesData(id) {
        debugger
        document.getElementById('btnAdd').innerHTML = "Update";
        $("#btnAdd").attr('title', 'Update');
        document.getElementById('btnAdd1').innerHTML = "Update & Pay";
        $("#btnAdd1").attr('title', 'Update');
        document.getElementById('PopupTitle').innerHTML = "Update Fees";
        var cls = {
            Id: id
        }
        $.ajax({
            url: '/Fees/GetSingleFeesData',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                debugger
                if (data != null) {
                    document.getElementById('hdnintId').value = data.LSTFeesList[0].Id;
                    $('#ClassId').val(data.LSTFeesList[0].ClassId).trigger("change");
                    $('#StudentId').val(data.LSTFeesList[0].StudentId).trigger("change");
                    $('#MonthId').val(data.LSTFeesList[0].MonthId).trigger("change");
                    $('#YearId').val(data.LSTFeesList[0].YearId).trigger("change");
                    document.getElementById('RollNo').value = data.LSTFeesList[0].RollNo;
                    $("#btnAdd1").hide();
                    //var inputDate = new Date(data.LSTFeesList[0].Date);
                    //var formattedDate = (inputDate.getMonth() + 1) + '-' + inputDate.getDate() + '-' + inputDate.getFullYear();

                    $('#Date').val(data.LSTFeesList[0].Date); // Set the value using jQuery

                    document.getElementById('FeesAmount').value = data.LSTFeesList[0].FeesAmount;
                } else {
                    alert('error');
                }
            },
            error: function (xhr) {
                alert('errors');
            }
        });
    }
    function deleteFees() {
        var Id = document.getElementById('hdnintId').value;
        var cls = {
            Id: Id
        }
        ShowWait();
        $.ajax({
            url: '/Fees/deleteFees',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                if (data.Response == 'Success' && Id > 0) {
                    toastr.success('Fees deleted successfully');
                    document.getElementById('hdnintId').value = "0";
                    GetFeesList();
                    $('#delete_Fees').click();
                }
                else {
                    alert('error');
                }
                HideWait();
            },
            error: function (xhr) {
                HideWait();
                alert('errors');
            }
        });
    }
    function Clear() {
        $("#ClassId").val('0').trigger('change');
        $('#errClassNo').html("");
        $("#StudentId").val('0').trigger('change');
        $('#errStudent').html("");
        $("#MonthId").val('0').trigger('change');
        $('#errMonth').html("");
        $("#YearId").val('0').trigger('change');
        $('#errYear').html("");
        document.getElementById('Date').value = "";
        $('#errDate').html("");
        document.getElementById('FeesAmount').value = "";
        $('#errFeesAmount').html("");
        document.getElementById('btnAdd').innerHTML = "Save";
        document.getElementById('btnAdd1').innerHTML = "Save & Pay";
        $("#btnAdd").attr('title', 'Upload');
        document.getElementById('PopupTitle').innerHTML = "Add Fees";
    }
    function ClearData(type) {
        if (type == 1) {
            var Id = document.getElementById('hdnintId').value;
            $("#ClassId").val('0').trigger('change');
            $('#errClassNo').html("");
            $("#StudentId").val('0').trigger('change');
            $('#errStudent').html("");
            $("#MonthId").val('0').trigger('change');
            $('#errMonth').html("");
            $("#YearId").val('0').trigger('change');
            $('#errYear').html("");
            document.getElementById('Date').value = "";
            $('#errDate').html("");
            document.getElementById('FeesAmount').value = "";
            $('#errFeesAmount').html("");
            if (Id == "0") {
                document.getElementById('hdnintId').value = "0";
                document.getElementById('btnAdd').innerHTML = "Save";
                $("#btnAdd").attr('title', 'Add');
                document.getElementById('btnAdd1').innerHTML = "Save & Pay";
                $("#btnAdd1").attr('title', 'Add');
                document.getElementById('PopupTitle').innerHTML = "Add Fees";
            }
            else {
                document.getElementById('btnAdd').innerHTML = "Update";
                $("#btnAdd").attr('title', 'Update');
                document.getElementById('btnAdd1').innerHTML = "Update & Pay";
                $("#btnAdd1").attr('title', 'Update');
                document.getElementById('PopupTitle').innerHTML = "Update Fees";
            }
        }
        else {
            $("#ddlClassId").val('0').trigger('change');
            $("#ddlStudentId").val('0').trigger('change');
            GetFeesList();
        }
    }
    function RemoveFile() {
        document.getElementById('divUploadFile').style.display = "block";
        document.getElementById('divFile').style.display = "none";
        //document.getElementById('hdnstrFile').value = "";
        bISFile = 0;
    }
    function opendeleteModel(id) {
        document.getElementById('hdnintId').value = id;
    }
</script>
