@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="theme-loader">
    <div class="loader-track">
        <div class="loader-bar"></div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7">
            <div class="card border-0 mb-0">
                <div class="card-header bg-transparent">
                </div>
                <div class="row m-b-20">
                    <div class="col-md-12">
                        <h4 style="color:#666666;text-align:center"><b><i class="fa fa-key" aria-hidden="true"></i>&nbsp; Forgot Password</b></h4>
                        <img style="width: 120px;display: block; margin-left: auto; margin-right: auto;" src="~/Data/assets/img/muktajivan-school-logo.png" />
                        <h5 style="color:#666666;text-align:center"><b>Shree Muktajivan School</b></h5>
                    </div>
                </div>
                <div class="card-body px-lg-5 pt-4">
                    <form role="form" class="text-start">
                        <div class="mb-3">
                            <input type="text" class="form-control " id="Email" name="Email" placeholder="Enter Register Email Id" aria-label="UserName">
                            <span id="errUserName" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                        <a href="~/Account/Login" class="btn btn-link" style="white-space: nowrap; float:left"><i class="fa fa-key" aria-hidden="true"></i>&nbsp; Back To Login</a>
                        <button type="button" class="btn bg-gradient-info" onclick="Login();" style="float:right"><i class="fa fa-key" aria-hidden="true"></i>&nbsp; Submit</button><br />

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        document.getElementById("Email").value = "";
    });
    function ForgotPassword() {

        var val = true;
        var Email = document.getElementById('Email').value;
        if (Email == "" || /\S/.test(Email) == false) {
            $("#errEmail").html("Please Enter Email id.");
            val = false;
        }
        if (val == false) {
            return;
        }

        var cls = {
            Email: Email
        }
        ShowWait();
        $.ajax({
            url: '/Account/ForgotPassword',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {

                if (data == 'Success') {
                    toastr.success('Password send successfully');

                }
                else if (data == 'Error' || data == null) {
                    toastr.error('Email id not registered');
                    document.getElementById('Email').value = '';
                }
                HideWait();
            },
            error: function (xhr) {

                alert('errors');
            }
        });
    }
</script>