@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Login";
}

<div class="theme-loader">
    <div class="loader-track">
        <div class="loader-bar"></div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7">
            <div class="card border-0 mb-0">
                <div class="card-header bg-transparent">
                </div>
                <div class="row m-b-20">
                    <div class="col-md-12">
                        <h4 style="color:#666666;text-align:center"><b><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; SIGN IN</b></h4>
                        <img style="width: 120px;display: block; margin-left: auto; margin-right: auto;" src="~/Data/assets/img/muktajivan-school-logo.png" />
                        <h5 style="color:#666666;text-align:center"><b>Shree Muktajivan School</b></h5>
                    </div>
                </div>

                <div class="card-body px-lg-5 pt-4">
                    <form role="form" class="text-start">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="UserName" name="UserName" placeholder="UserName" aria-label="UserName">
                            <span id="errUserName" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" aria-label="Password">
                            <span id="errPassword" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                        <div class="form-check form-switch" style="float:right">
                            <input class="form-check-input" type="checkbox" id="rememberMe" onclick="showPwd()">
                            <label class="form-check-label" style="white-space:nowrap" for="rememberMe">Show password</label>
                        </div>
                        <br />
                        <button type="button" class="btn bg-gradient-info" onclick="Login();" style="float:left"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; Sign In</button><br />
                        <a href="~/Account/ForgotPassword" class="btn btn-link" style="white-space: nowrap; float:right"><i class="fa fa-key" aria-hidden="true"></i>&nbsp; Forgot  Password?</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    function Login() {

        var val = true;
        var UserName = document.getElementById('UserName').value;
        var Password = document.getElementById('Password').value;
        if (UserName == "" || /\S/.test(UserName) == false) {
            $("#errUserName").html("Please Enter Username.");
            val = false;
        }
        if (Password == "" || /\S/.test(Password) == false) {
            $("#errPassword").html("Please Enter Password.");
            val = false;
        }
        if (val == false) {
            return;
        }

        var cls = {
            UserName: UserName,
            Password: Password
        }
        ShowWait()
        $.ajax({
            url: '/Account/Login',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {

                if (data == 'Success') {
                    window.location.href = '/Home/Index';

                }
                //else if (data.intId == 0) {
                //    alert(data.strResponse);
                //}
                else if (data == 'Error' || data == null) {
                    toastr.error('Invalid Username or Password.');
                    HideWait();
                }
                document.getElementById('Email').value = '';
                document.getElementById('Password').value = '';
                HideWait()
            },
            error: function (xhr) {

                alert('errors');
            }
        });
    }
    function showPwd() {
        var x = document.getElementById("Password");

        if (x.type === "password") {
            x.type = "text";
        }
        else {
            x.type = "password";
        }
    }
    function ShowWait() {
        $('#divloader').fadeIn();
    }
    function HideWait() {
        $('#divloader').fadeOut();
    }
</script>