@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Login";
}



<div class="page-header align-items-start min-vh-50 pt-7 pb-9 m-3 border-radius-lg" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-cover.jpg');">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 text-center mx-auto">
                <h1 class="text-white mb-2 mt-0">Welcome!</h1>
                <p class="text-lead text-white mb-5">Welcome to the School Management System.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
            <div class="card mt-0">
                <div class="card-header pb-0 text-start">
                    <h3 class="font-weight-bolder" style="text-align:center">Sign In</h3>
                    <p class="mb-0" style="text-align:center">Enter your email and password to sign in</p>
                </div>
                <div class="card-body">
                    <form role="form" class="text-start">
                        <label>Email</label>
                        <div class="mb-3">
                            <input type="text" id="UserName" class="form-control form-control-alternative" placeholder="Enter Username" aria-label="UserName">
                            <span id="errUserName" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                        <label>Password</label>
                        <div class="mb-3">
                            <input type="Password" id="Password" class="form-control form-control-alternative" placeholder="Enter Password" aria-label="Password">
                            <span id="errPassword" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="rememberMe"  onclick="showPwd()" >
                            <label class="form-check-label" for="rememberMe">show password</label>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn bg-gradient-info  w-100 mt-4 mb-0" onclick="Login();"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Sign in</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                    <p class="mb-4 text-sm mx-auto">
                        Forgot your password?
                        <a  href="~/Account/ForgotPassword" class="text-primary font-weight-bold">Forgot Password</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    function Login() {

        var val = true;
        var UserName = document.getElementById('UserName').value;
        var Password = document.getElementById('Password').value;
        if (UserName == "" || /\S/.test(UserName) == false) {
            $("#errUserName").html("Please Enter Username.");
            val = false;
        }
        if (Password == "" || /\S/.test(Password) == false) {
            $("#errPassword").html("Please Enter Password.");
            val = false;
        }
        if (val == false) {
            return;
        }

        var cls = {
            UserName: UserName,
            Password: Password
        }
        ShowWait();
        $.ajax({
            url: '/Account/Login',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {

                if (data == 'Success') {
                    window.location.href = '/Home/Index';
                    HideWait();
                }
                //else if (data.intId == 0) {
                //    alert(data.strResponse);
                //}
                else if (data == 'Error' || data == null) {
                    toastr.error('Invalid Username or Password.');
                    HideWait();
                }
                document.getElementById('Email').value = '';
                document.getElementById('Password').value = '';
            },
            error: function (xhr) {

                alert('errors');
            }
        });
    }
    function showPwd() {
        var x = document.getElementById("Password");

        if (x.type === "password") {
            x.type = "text";
        }
        else {
            x.type = "password";
        }
    }
    function ShowWait() {
        $('.loading-wave').fadeIn();
    }
    function HideWait() {
        $('.loading-wave').fadeOut();
    }
    
</script>