
@{
    ViewBag.Title = "TeacherAttandence";
    ViewBag.ActionName = "TeacherAttandence";
}
<style>
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9;
        }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 100px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <h6 class="font-weight-bolder text-white mb-0">Teacher Attandence List</h6>
        </nav>
    </div>



    <!-- Modal -->

</nav>
<div class="row" id="FilterDiv" style="margin-left:19px">

    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
            <select data-placeholder="Select here.." id="ddlTeacherId" class="select2-single-placeholder form-control" style="width: 100%"></select>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus select-focus">
            <select tabindex="1" data-placeholder="Select here.." id="intActive" name="intActive" class="form-control floating">
                <option value="3">Select Status</option>
                <option value="1">Present</option>
                <option value="2">Absent</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6 col-md-1">

        <a class="btn bg-gradient-info" onclick="GetTeacherAttandenceList(1)">Search</a>
    </div>
    <div class="col-sm-6 col-md-1">
        <a class="btn bg-gradient-dark" title="Clear" onclick="ClearData(2)"> Clear </a>

    </div>
</div>
@if (InvoiceManagementSystem.Models.SessionModel.RoleId == 1)
{
    @*<a href="#" class="btn bg-gradient-dark btn-tooltip" data-bs-toggle="tooltip" data-bs-target="#BulkAttendance" onclick="Clear1()" data-bs-placement="bottom" title="Filter" data-container="body" data-animation="true">Import Bulk Attendance</a>
    <a class="btn bg-gradient-info" title="Add TeacherAttandence" data-bs-toggle="modal" data-bs-target="#TeacherAttandence" onclick="Clear()" style="cursor:pointer;margin-left:915px">Add Attandence</a>*@



<div style="margin-left:803px">
    <a href="#" class="btn bg-gradient-dark btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Filter" data-container="body" data-animation="true" onclick="ShowFilter()"><i class="fa fa-filter"></i></a>
    @*<a class="btn bg-gradient-secondary" title="Add TeacherAttandence" data-bs-toggle="modal" data-bs-target="#BulkAttendance" onclick="Clear1()" style="cursor:pointer;margin-left:0px">Import Bulk Attandence</a>*@
    <a class="btn bg-gradient-info" title="Add TeacherAttandence" data-bs-toggle="modal" data-bs-target="#TeacherAttandence" onclick="Clear()" style="cursor:pointer;margin-left:0px">Add Attandence</a>
</div>
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="dataTables_length" id="DataTables_Table_0_length">
                <label style="color:white">
                    Show
                    <select id="PageSize" onchange="GetTeacherAttandenceList(1)" class="drpselect">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> entries
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>TeacherAttandence List</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <div id="tblBody"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="BulkAttendance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-left:113px"><span id="PopupTitle">Import Teacher Attandence</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:black">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="basicinput"><b>Select File</b></label>
                            <input type="file" id="strFile" name="strfile" accept=".xlsx,.xls" class="form-control">
                            <a style="color: #0a42e4; text-decoration: underline;font-size:14px; margin-left: 5px;" href="~/Data/BulkAttendance/BulkAttendance.xlsx" download=""><i class="fa fa-download" style="color:black" aria-hidden="true"></i>&nbsp;&nbsp;Sample File</a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAdd1" class="btn bg-gradient-info" onclick="AddClientBulkData()">Import</button>
                <button type="button" class="btn bg-gradient-dark" onclick="ClearData1(1)">Clear</button>
                <input type="hidden" id="hdnintId" value="0" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="TeacherAttandence" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-left:113px"><span id="PopupTitle">Add Teacher Attandence</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:black">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="basicinput"><b>Teacher</b></label>
                            <select class="form-control" id="TeacherId">
                                <option value="0">Select Teacher</option>
                            </select>
                            <span id="errTeacher" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Status<span class="text-danger">*</span></label><br />
                            <label>
                                <input type="radio" name="radio" checked="checked" value="Active" class="rd" id="Active" onclick="Hide()" />
                                <i class="helper"></i>Present
                                <input type="radio" name="radio" value="InActive" class="rd" id="InActive" onclick="Show()" />
                                <i class="helper"></i>Absent
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Date</label>
                            <input type="date" class="form-control" id="Date" required="">
                            <span id="errDate" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <div id="ifYes" style="visibility:hidden" class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Leave Type<span class="text-danger">*</span></label><br />
                                <select class="form-control form-control-alternative" id="LeaveType">
                                    <option value="0">Select Leave Type</option>
                                    <option value="1">Half-Day</option>
                                    <option value="2">Full-Day</option>
                                </select>
                                <span id="errLeaveType" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Reason<span class="text-danger">*</span></label><br />
                                <textarea class="form-control form-control-alternative" id="Reason"></textarea>
                                <span id="errReason" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAdd" class="btn bg-gradient-info" onclick="InsertData()">Add</button>
                <button type="button" class="btn bg-gradient-dark" onclick="ClearData(1)">Clear</button>
                <input type="hidden" id="hdnintId" value="0" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete_TeacherAttandence" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="PopupTitle">Add Teacher Attandence</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete this Teacher Attandence ?.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAdd" class="btn bg-gradient-danger" onclick="deleteTeacherAttandence()">Delete</button>
                <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                <input type="hidden" id="hdnintId" value="0" />
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    var type = 1
    function ShowFilter() {
        if (type == 1) {
            $('#FilterDiv').show();
            type = 2;
        }
        else {
            $('#FilterDiv').hide();
            type = 1;
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('#FilterDiv').hide();
        var currentDate = new Date().toISOString().slice(0, 10);
        document.getElementById('Date').value = currentDate;
        GetTeacherAttandenceList(1);
        GetTeacher();
    });
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function Show() {

        if (document.getElementById('InActive').checked) {
            document.getElementById('ifYes').style.visibility = 'visible';

        }
        else {
            document.getElementById('ifYes').style.visibility = 'hidden';
        }
    }
    function Hide() {

        if (document.getElementById('Active').checked) {

            document.getElementById('ifYes').style.visibility = 'hidden';

        }
        else {
            document.getElementById('ifYes').style.visibility = 'visible';
        }
    }


    function InsertData() {

        var val = true;
        var Id = $('#hdnintId').val();
        var SearchText = $('#SearchText').val();
        var TeacherId = $('#TeacherId').val();
        if (TeacherId == 0) {
            $("#errTeacher").html("Please select teacher.");
            val = false;
        }
        var Date = $('#Date').val();
        var LeaveType = $('#LeaveType').val();
        var Reason = $('#Reason').val();
        var Status = $("input[type='radio']:checked").val();
        if (Status == "Active") {
            Status = true
        }
        else {
            Status = false
        }

        if (Status == 0) {
            if (LeaveType == 0) {
                $("#errLeaveType").html("Please enter leave type.");
                val = false;
            }
            if (Reason == "" || /\S/.test(Reason) == false) {
                $("#errReason").html("Please enter reason.");
                val = false;
            }
        }
    


        var formData = new FormData();
        if (val == false) {
            return;
        }

        formData.append('Id', Id);
        formData.append('TeacherId', TeacherId);
        formData.append('Status', Status);
        formData.append('SearchText', SearchText);
        formData.append('Date', Date);
        formData.append('LeaveType', LeaveType);
        formData.append('Reason', Reason);
        ShowWait();
        $.ajax({
            type: "POST",
            url: '/TeacherAttandence/InsertTeacherAttandence',
            contentType: "application/json; charset=utf-8",
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                if (data != null) {
                    if (data == 'Success' && Id == 0) {
                        toastr.success('TeacherAttandence inserted successfully');
                        GetTeacherAttandenceList(1);
                        $('#TeacherAttandence').click();
                        ClearData(1);
                    }
                    else if (data == 'Updated' && Id > 0) {
                        toastr.success('TeacherAttandence updated successfully');
                        GetTeacherAttandenceList(1);
                        $('#TeacherAttandence').click();
                        ClearData(1);
                    }
                    else if (data == 'Exists') {
                        toastr.error('TeacherAttandence already exists!');
                        document.getElementById('Date').value = "";
                    }
                }
                HideWait();
            },
            error: function (xyz) {
                HideWait();
                alert('errors');
            }
        });
    }


    function AddClientBulkData() {
        debugger
        $('#tblMsg').empty();
        var formData = new FormData();
        var totalFiles = document.getElementById("strFile").files.length;
        if (totalFiles == 0) {
            generateMessageDiv('error', 'Please select atleast one file.');
            return;
        }


        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("strFile").files[i];
            formData.append("file", file);
        }
        ShowWait();
        $.ajax({

            url: '/TeacherAttandence/ClientBulkUpload',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                debugger

                try {
                    var strHTML = '';
                    var j = 0;
                    if (data != null && data.length > 0 && data[0].strerrorMessage != 'Attendance Uploaded Successfully') {

                        strHTML = strHTML + '<table class="table table-striped table-nowrap custom-table datatable">'
                        strHTML = strHTML + '<tr class="thead-dark">'
                        strHTML = strHTML + '<th class="thead-dark">Row No.</th>'
                        strHTML = strHTML + '<th class="thead-dark">Error Message.</th>'
                        strHTML = strHTML + '</tr>'
                        strHTML = strHTML + '<tbody>'
                        for (var i = 0; i < data.length; i++) {
                            j = j + 1;

                            strHTML = strHTML + '<tr>'
                            strHTML = strHTML + '<td>' + j + '</td>';
                            strHTML = strHTML + '<td style="color:red">' + data[i].strerrorMessage + '</td>';
                            strHTML = strHTML + '</tr>'

                        }
                        strHTML = strHTML + '</tbody>'
                        strHTML = strHTML + '</table>'
                        $('#tblMsg').empty();
                        $('#tblMsg').append(strHTML);

                    }
                    else {
                        if (data[0].strerrorMessage == 'Client Uploaded Successfully') {
                            alert(data[0].strerrorMessage);
                            GetClientList();
                            $('#BulkAttendance').click();
                            ClearData1(1);
                        }
                    }
                    HideWait();
                }

                catch (ex) {
                    debugger
                }
                finally {
                    debugger
                }

            },
            error: function (xhr) {

                alert('errors');
            }
        });
    }



    function ClearData1(type) {
        debugger
        var intId = document.getElementById('hdnintId').value;
        if (type == 1) {

            document.getElementById('strFile').value = "";
            $('#tblMsg').html("");
        }
    }



    function GetTeacher() {

        var cls = {
        }
        $.ajax({
            url: '/TeacherAttandence/GetTeacher',
            contentType: "application/json; charset=utf-8",
            type: "GET",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {

                var html = "";
                html = html + ' <option value="0" selected>Select Teacher</option>';
                for (var i = 0; i < data.LSTTeacherList.length; i++) {
                    html = html + '<option value="' + data.LSTTeacherList[i].Id + '">' + data.LSTTeacherList[i].FullName + '</option>';
                    $("#TeacherId").empty();
                    $("#TeacherId").append(html);
                    $("#ddlTeacherId").empty();
                    $("#ddlTeacherId").append(html);
                }
            }
        });
    }

    function GetTeacherAttandenceList(page) {


        var Id = 0;
        var intActive = document.getElementById('intActive').value;
        var TeacherId = document.getElementById('ddlTeacherId').value
        var Date = document.getElementById('Date').value
        if (document.getElementById('PageSize') != null) {
            PageSize = document.getElementById('PageSize').value;
        }
        else {
            PageSize = 10;
        }
        if (page == undefined) {
            page = 1;
        }
        var PageIndex = page;

        PageIndex = page;
        var cls = {
            Id: Id,
            TeacherId: TeacherId,
            Date: Date,
            intActive: intActive,
            PageSize: PageSize,
            PageIndex: PageIndex,
        }
        ShowWait();
        $.ajax({
            url: '/TeacherAttandence/GetTeacherAttandence',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                $('#tblBody').empty();
                $('#tblBody').append(data);
                HideWait();
            },
            error: function (xhr) {
                HideWait();
                alert('errors');
            }
        });
    }

    function GetSingleTeacherAttandenceData(id) {
        $('#errName').html("");
        document.getElementById('btnAdd').innerHTML = "Update";
        $("#btnAdd").attr('title', 'Update');
        document.getElementById('PopupTitle').innerHTML = "Update TeacherAttandence";
        var cls = {
            Id: id
        }

        $.ajax({
            url: '/TeacherAttandence/GetSingleTeacherAttandenceData',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {

                if (data != null) {
                    document.getElementById('hdnintId').value = data.LSTTeacherAttandenceList[0].Id;
                    $('#TeacherId').val(data.LSTTeacherAttandenceList[0].TeacherId).trigger("change");
                    if (data.LSTTeacherAttandenceList[0].Status == true) {
                        $("#Active").prop('checked', true);
                        Hide();
                    }
                    else {
                        $("#InActive").prop('checked', true);
                        Show();
                    }
                    document.getElementById('LeaveType').value = data.LSTTeacherAttandenceList[0].LeaveType;
                    $('#Reason').val(data.LSTTeacherAttandenceList[0].Reason).trigger("change");
                    document.getElementById('datepicker').value = data.LSTTeacherAttandenceList[0].Date;

                }
                else {
                    alert('error');
                }

            },
            error: function (xhr) {

                alert('errors');
            }
        });
    }

    function deleteTeacherAttandence() {
        var Id = document.getElementById('hdnintId').value;
        var cls = {
            Id: Id
        }
        ShowWait();
        $.ajax({
            url: '/TeacherAttandence/deleteTeacherAttandence',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {

                if (data.Response == 'Success' && Id > 0) {

                    toastr.success('TeacherAttandence deleted successfully');
                    document.getElementById('hdnintId').value = "0";
                    GetTeacherAttandenceList();
                    $('#delete_TeacherAttandence').click();
                }

                else {
                    alert('error');
                }
                HideWait();
            },
            error: function (xhr) {
                HideWait();
                alert('errors');

            }
        });
    }

    function Clear() {
        document.getElementById('datepicker').value = "";

        document.getElementById('Reason').value = "";
        document.getElementById('errLeaveType').value = "";
        document.getElementById('errReason').value = "";
        document.getElementById('errTeacher').value = "";
        $("#ddlTeacherId").val('0').trigger('change');
        $("#TeacherId").val('0').trigger('change');
        $("#LeaveType").val('0').trigger('change');
        document.getElementById('btnAdd').innerHTML = "Add";
        $("#btnAdd").attr('title', 'Upload');
        document.getElementById('PopupTitle').innerHTML = "Add Attandence";
    }

    function ClearData(type) {

        if (type == 1) {
            var Id = document.getElementById('hdnintId').value;
            document.getElementById('datepicker').value = "";
            document.getElementById('Reason').value = "";
            document.getElementById('errLeaveType').value = "";
            document.getElementById('errReason').value = "";
            document.getElementById('errTeacher').value = "";
            $("#LeaveType").val('0').trigger('change');
            $("#TeacherId").val('0').trigger('change');
            document.getElementById('intActive').value = '3';
            if (Id == "0") {

                document.getElementById('hdnintId').value = "0";
                document.getElementById('btnAdd').innerHTML = "Add";
                $("#btnAdd").attr('title', 'Add');
                document.getElementById('PopupTitle').innerHTML = "Add Attandence";
            }
            else {
                document.getElementById('btnAdd').innerHTML = "Update";
                $("#btnAdd").attr('title', 'Update');
                document.getElementById('PopupTitle').innerHTML = "Update Attandence";
            }
        }
        else {
            document.getElementById('intActive').value = '3';
            $("#ddlTeacherId").val('0').trigger('change');
            GetTeacherAttandenceList();
        }
    }


    function Clear1() {
        debugger
        document.getElementById('strFile').value = "";
        $('#tblMsg').html("");
        document.getElementById('btnAdd1').innerHTML = "Import";
        $("#btnAdd1").attr('title', 'Import');
        document.getElementById('PopupTitle').innerHTML = "Import BulkAttendance";
    }

    function opendeleteModel(id) {

        document.getElementById('hdnintId').value = id;
    }
</script>
