@model InvoiceManagementSystem.Models.SchoolModel
@{
    ViewBag.Title = "School";
}
<style>
    .scrollable-container {
        max-height: 700px;
        overflow-y: auto;
        overflow-x: hidden; /* Optional: to hide horizontal scrollbar if not needed */
        scrollbar-width: thin; /* Makes the scrollbar thin */
        scrollbar-color: #888 #f1f1f1; /* Color of the scrollbar thumb and track */
    }
</style>

<div class="main-content position-relative max-height-vh-100 h-100" style="margin-top:-220px">
    <div class="card shadow-lg mx-4 card-profile-bottom">
        <div class="card-body p-3">
            <div class="row gx-4">
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h5 class="mb-1">
                            <i class="fas fa-envelope text-danger text-lg"></i>&nbsp;&nbsp;Manage School
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card shadow-lg mx-4 card-profile" id="Filter" style="display:none">
        <div class="card-body p-3">
            <div class="row">
                <div class="col-md-2 p-1">
                    <label style="color:black">Search</label>
                    <input class="form-control form-control-alternative" type="text" id="SearchText" placeholder="Search by school name">
                </div>
                <div class="col-auto float-right ml-auto mt-4" style="float:right">
                    <button type="button" id="btnSearch" class="btn bg-gradient-info " data-bs-toggle="tooltip" data-bs-placement="top" data-container="body" data-animation="true" onclick="GetSchoolList(1)">Search</button>
                    <button type="button" class="btn bg-gradient-dark" title="Clear" onclick="ClearData(2)"> Clear</button>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="dataTables_length" id="DataTables_Table_0_length">
                    <label style="color:white">
                        Show
                        <select id="PageSize" onchange="GetSchoolList(1)" class="drpselect">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        entries
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-4 scrollable-container">
                    <div class="card-header pb-0">
                        <h6><i class="fa fa-home text-primary text-lg"></i>&nbsp;&nbsp;School List</h6>
                        <div class="col-auto float-right ml-auto" style="float:right">
                            <a class="btn bg-gradient-info" data-bs-toggle="modal" data-bs-target="#School" onclick="Clear()" style="color:white; cursor:pointer;">+ Add New</a>
                            <a href="#" class="btn bg-gradient-dark" onclick="ShowFilter()" style="border: 1px solid black;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Filter"><i class="fa fa-filter"></i></a>
                            <a href="#" class="btn bg-gradient-dark" onclick="ExportSchool()" style="border: 1px solid black;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Export to Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <div id="tblBody"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="School" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="PopupTitle">Add School</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:black">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group" id="divUploadFile" style="display:block">
                                    <input type="hidden" id="hdnfile" />
                                    <label for="basicinput"><b>Photo pic</b><span style="color: red">*</span></label>
                                    <input type="file" class="form-control form-control-alternative" name="Photo" id="Photo" accept="image/*">
                                    <span id="errPhoto" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                </div>
                            </div>
                            <div class="form-group" id="divFile" style="display:none">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">School Name <span class="text-danger">*</span></label>
                                <input class="form-control form-control-alternative" type="text" id="SchoolName" placeholder="Enter School Name">
                                <span id="errSchoolName" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Email <span class="text-danger">*</span></label>
                                <input class="form-control form-control-alternative" type="text" id="Email" placeholder="Enter Email">
                                <span id="errEmail" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Mobile No <span class="text-danger">*</span></label>
                                <input class="form-control form-control-alternative" type="text" id="MobileNo" placeholder="Enter Mobile No">
                                <span id="errMobileNo" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Since <span class="text-danger">*</span></label>
                                <input class="form-control form-control-alternative" type="text" id="Since" placeholder="Enter Since">
                                <span id="errSince" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Address<span class="text-danger">*</span></label>
                                <textarea class="form-control form-control-alternative" id="Address"></textarea>
                                <span id="errAddress" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAdd" class="btn bg-gradient-info" onclick="InsertData()"><i class="fa fa-save" style="color:white"></i>&nbsp;Add</button>
                    <button type="button" class="btn bg-gradient-dark" onclick="ClearData(1)">&nbsp;Clear</button>
                    <input type="hidden" id="hdnintId" value="0" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete_School" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="PopupTitle">Delete School</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:black">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-secondary text-xs font-weight-bolder opacity-100">Are you sure want to delete this School ?.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAdd" class="btn bg-gradient-danger" onclick="deleteSchool()">Delete</button>
                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                    <input type="hidden" id="hdnintId" value="0" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="status" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="PopupTitle">Status Confirmation</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:black">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-secondary text-xs font-weight-bolder opacity-100">Are you sure want to change status?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAdd" class="btn bg-gradient-info" onclick="UpdateStatus()">Change</button>
                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="~/Scripts/School/School.js"></script>

