﻿@model InvoiceManagementSystem.Models.TeacherModel
@{
    ViewBag.Title = "Teacher";
}

<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <h5 class="font-weight-bolder text-white mb-0"><i class="fas fa-chalkboard-teacher text-lg opacity-10" style="color:white"></i>&nbsp;&nbsp;Manage Teacher</h5>
        </nav>
    </div>
</nav>

<div class="row" id="FilterDiv" style="margin-left:19px">
    <div class="col-sm-4 col-md-3">
        <div class="form-group form-focus">
            <input type="text" class="form-control floating" id="SearchText" placeholder="Search" maxlength="50">
        </div>
    </div>
    <div class="col-sm-4 col-md-2">
        <div class="form-group form-focus select-focus">
            <select tabindex="1" data-placeholder="Select here.." id="intActive" name="intActive" class="form-control floating">
                <option value="3">Select Status</option>
                <option value="1">Active</option>
                <option value="2">In-Active</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4 col-md-2" style="margin-top: -32px;">
        <div class="form-group form-focus">
            <label style="color:white">From Date</label>
            <input class="form-control floating datetimepicker" type="date" id="FromDate" autocomplete="off">
        </div>
    </div>
    <div class="col-sm-4 col-md-2" style="margin-top: -32px;">
        <div class="form-group form-focus">
            <label style="color:white">To Date</label>
            <input class="form-control floating datetimepicker" type="date" id="ToDate" autocomplete="off">
        </div>
    </div>
    <div class="col-sm-6 col-md-1">

        <a class="btn bg-gradient-info" onclick="GetTeacherList(1)">Search</a>
    </div>

    <div class="col-sm-6 col-md-1">
        <a class="btn bg-gradient-dark" title="Clear" onclick="ClearData(2)"> Clear </a>

    </div>
</div>

<div class="row">

    <div style="margin-left:843px">
        <a href="#" class="btn bg-gradient-dark btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Filter" data-container="body" data-animation="true" onclick="ShowFilter()"><i class="fa fa-filter"></i></a>
        <a href="~/Teacher/AddUpdateTeacher" class="btn bg-gradient-info"  onclick="Clear()">Add Teacher </a>
    </div>
</div>


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="dataTables_length" id="DataTables_Table_0_length">
                <label style="color:white">
                    Show
                    <select id="PageSize" onchange="GetTeacherList(1)" class="drpselect">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> entries
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h5><i class="fas fa-chalkboard-teacher text-info text-lg opacity-10"></i>&nbsp;&nbsp;Teacher List</h5>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <div id="tblBody"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="delete_Teacher" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="PopupTitle">Add Teacher</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete this Teacher ?.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAdd" class="btn bg-gradient-danger" onclick="deleteTeacher()">Delete</button>
                <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="status" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-left:132px"><span id="PopupTitle">Status Confirmation</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-left:98px">Are you sure want to change status?</p>
            </div>
            <div class="modal-footer" style="padding-right: 146px">
                <button type="button" id="btnAdd" class="btn bg-gradient-info" onclick="UpdateStatus()">Change</button>
                <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/School/Teacher.js"></script>
<script>
    var type = 1

    function ShowFilter() {
        if (type == 1) {
            $('#FilterDiv').show();
            type = 2;
        }
        else {
            $('#FilterDiv').hide();
            type = 1;
        }
    }
</script>
