
@{
    ViewBag.Title = "Exam";
}

<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <h6 class="font-weight-bolder text-white mb-0"><i class="fa fa-book text-success text-lg" style="color:white"></i>Exam List</h6>
        </nav>
    </div>
</nav>
<div class="row" id="FilterDiv" style="margin-left:19px">
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
            <input type="text" class="form-control floating" id="SearchText" placeholder="Search" maxlength="50">
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
            <select data-placeholder="Select here.." id="ddlClassId" class="select2-single-placeholder form-control" style="width: 100%"></select>
        </div>
    </div>
    <div class="col-sm-6 col-md-1">

        <a class="btn bg-gradient-info" onclick="GetExamList(1)">Search</a>
    </div>
    <div class="col-sm-6 col-md-1">
        <a class="btn bg-gradient-dark" title="Clear" onclick="ClearData(2)"> Clear </a>

    </div>
</div>

<div class="row">

    <div style="margin-left:878px">
        <a href="#" class="btn bg-gradient-dark" onclick="ShowFilter()" title="Filter"><i class="fa fa-filter"></i></a>
        <a class="btn bg-gradient-info" title="Add Marks" data-bs-toggle="modal" data-bs-target="#Exam" onclick="Clear()">Add Marks</a>
    </div>
</div>


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="dataTables_length" id="DataTables_Table_0_length">
                <label style="color:white">
                    Show
                    <select id="PageSize" onchange="GetExamList(1)" class="drpselect">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> entries
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Exam List</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <div id="tblBody"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Exam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-left:173px"><span id="PopupTitle">Add Exam Marks</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:black">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="basicinput"><b>Class Room</b></label>
                            <select class="form-control form-control-alternative" id="ClassId" onchange="onClass();">
                                <option value="0">Select here..</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="basicinput"><b>Subject</b></label>
                            <select class="form-control  form-control-alternative" id="SubjectId">
                                <option value="0">Select here..</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="basicinput"><b>Student</b></label>
                            <select class="form-control form-control-alternative" id="StudentId" onchange="onStudent();">
                                <option value="0">Select here..</option>
                            </select>
                            <span id="errStudent" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Roll No </label><br />
                            <span class="form-control form-control-alternative" id="RollNo" name="RollNo"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Out Of Marks <span class="text-danger">*</span></label>
                            <input class="form-control form-control-alternative" type="text" id="Outofmarks" placeholder="Enter Out of marks">
                            <span id="errOutofmarks" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Total Marks <span class="text-danger">*</span></label>
                            <input class="form-control form-control-alternative" type="text" id="Totalmarks" placeholder="Enter Total Marks">
                            <span id="errTotalmarks" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAdd" class="btn bg-gradient-info" onclick="InsertData()">Add</button>
                <button type="button" class="btn bg-gradient-dark" onclick="ClearData(1)">Clear</button>
                <input type="hidden" id="hdnintId" value="0" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete_Exam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-left:132px"><span id="PopupTitle">Delete Exam</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"style="color:black">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-secondary text-xs font-weight-bolder opacity-100" style="margin-left:120px;">Are you sure want to delete this Exam ?.</p>
            </div>

            <div class="modal-footer" style="padding-right: 166px">

                <button type="button" id="btnAdd" class="btn bg-gradient-danger" onclick="deleteExam()">Delete</button>
                <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                <input type="hidden" id="hdnintId" value="0" />
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/School/ExamMarks.js"></script>
