
@model List<InvoiceManagementSystem.Models.ClassRoomModel>
<table  class="table align-items-center mb-0" >
    <thead>
        <tr>
            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-100">Sr. No</th>
            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-100">Class No</th>
            <th class="text-uppercase text-dark text-xxs font-  weight-bolder opacity-100">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <p class="text-xs font-weight-bold mb-0" style="margin-left:22px">@item.ROWNUMBER</p>
            </td>

            <td>
                <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                        <h5 class="text-xs font-weight-bold mb-0" style="margin-left:12px">@item.ClassNo</h5>
                    </div>
                </div>
            </td>
            <td>
                @if (item.IsActive == true)
                {
                    <a style="margin-left:10px" class="text-xs font-weight-bold mb-0"><i class="fa fa-dot-circle-o text-success"></i> Active</a>
                }
                else
                {
                    <a style="margin-left:10px" class="text-xs font-weight-bold mb-0"><i class="fa fa-dot-circle-o text-danger"></i> In-Active </a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

