@{ ViewBag.Title = "Timetable"; }




<div class="main-content position-relative max-height-vh-100 h-100" style="margin-top:-220px">
    <div class="card shadow-lg mx-4 card-profile-bottom">
        <div class="card-body p-3">
            <div class="row gx-4">
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h5 class="mb-1">
                            <i class="ni ni-watch-time text-warning text-lg"></i>&nbsp;&nbsp;Manage Timetable
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card shadow-lg mx-4 card-profile" id="Filter">
        <div class="card-body p-3">
            <div class="row">
                <div class="col-md-2 p-2">
                    <label style="color:black">Day</label>
                    <select class="form-control" id="ddlDays">
                        <option value="0" selected>Search by Day</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                    </select>
                </div>
                <div class="col-md-2 p-2">
                    <label style="color:black">Teacher</label>
                    <select data-placeholder="Select here.." id="ddlTeacherId" class="select2-single-placeholder form-control" style="width: 100%"></select>
                </div>
                <div class="col-auto float-right ml-auto mt-4" style="float:right">
                    <button type="button" id="btnSearch" class="btn bg-gradient-info " data-bs-toggle="tooltip" data-bs-placement="top" data-container="body" data-animation="true" onclick="GetTimetableList(1)">Search</button>
                    <button type="button" class="btn bg-gradient-dark" title="Clear" onclick="ClearData(2)"> Clear</button>
                </div>
            </div>

        </div>

    </div>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="dataTables_length" id="DataTables_Table_0_length">
                    <label style="color:white">
                        Show
                        <select id="PageSize" onchange="GetTimetableList(1)" class="drpselect">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> entries
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h5><i class="ni ni-watch-time text-warning text-lg opacity-10"></i> &nbsp;&nbsp;Timetable List</h5>
                        <div class="col-auto float-right ml-auto" style="float:right">
                            @if (InvoiceManagementSystem.Models.SessionModel.RoleId == 2)
                            {
                                <a class="btn bg-gradient-info" title="Add Timetable" data-bs-toggle="modal" data-bs-target="#Timetable" onclick="Clear()">+ Add New </a>
                                <a href="#" class="btn bg-gradient-dark" onclick="ShowFilter()" style="border: 1px solid black;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Filter"><i class="fa fa-filter"></i></a>
                                <a href="#" class="btn bg-gradient-dark" onclick="ExportTimetable()" style="border: 1px solid black;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Export to Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                            }
                            else
                            {
                                <a href="#" class="btn bg-gradient-dark" onclick="ShowFilter()" title="Filter"><i class="fa fa-filter"></i></a>
                                <a class="btn bg-gradient-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Export Timetable" onclick="ExportTimetable()"><i class="fa fa-file-excel-o"></i>&nbsp;Export</a>
                            }
                        </div>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <div id="tblBody"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Timetable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="PopupTitle">Add Timetable</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:black">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="basicinput"><b>Days</b><span class="text-danger">*</span></label>
                                <select class="form-control" id="Days">
                                    <option value="0" selected>Select Day</option>
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                </select>
                                <span id="errDays" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="basicinput"><b>Teacher</b><span class="text-danger">*</span></label>
                                <select class="form-control" id="TeacherId">
                                </select>
                                <span id="errTeacherId" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="basicinput"><b>Class Room</b><span class="text-danger">*</span></label>
                                <select class="form-control" id="ClassId" onchange="onClass();">
                                    <option value="0">Select here..</option>
                                </select>
                                <span id="errClassId" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="basicinput"><b>Subject</b><span class="text-danger">*</span></label>
                                <select class="form-control js-example-basic-single" id="SubjectId">
                                    <option value="0">Select here..</option>
                                </select>
                                <span id="errSubjectId" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Start Time <span class="text-danger">*</span></label>
                                <input class="form-control form-control-alternative" type="time" id="StartTime">
                                <span id="errStartTime" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">End Time<span class="text-danger">*</span></label>
                                <input class="form-control form-control-alternative" type="time" id="EndTime">
                                <span id="errEndTime" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAdd" class="btn bg-gradient-info" onclick="InsertData()">Add</button>
                    <button type="button" class="btn bg-gradient-dark" onclick="ClearData(1)">Clear</button>
                    <input type="hidden" id="hdnintId" value="0" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete_Timetable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="PopupTitle">Delete Timetable</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:black">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-secondary text-xs font-weight-bolder opacity-100" style="margin-left:120px;">Are you sure want to delete this Timetable ?.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAdd" class="btn bg-gradient-danger" onclick="deleteTimetable()">Delete</button>
                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                    <input type="hidden" id="hdnintId" value="0" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="status" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="PopupTitle">Status Confirmation</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:black">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-secondary text-xs font-weight-bolder opacity-100" style="margin-left:120px;">Are you sure want to change status?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAdd" class="btn bg-gradient-info" onclick="UpdateStatus()">Change</button>
                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/School/Timetable.js"></script>
