@{ ViewBag.Title = "Leave";
    ViewBag.ActionName = "Leave"; }


<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <h6 class="font-weight-bolder text-white mb-0">Leave List</h6>
        </nav>
    </div>
</nav>
<div class="row" id="FilterDiv" style="margin-left:19px">
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
            <select data-placeholder="Select here.." id="ddlTeacherId" class="select2-single-placeholder form-control" style="width: 100%"></select>
        </div>
    </div>
    <div class="col-sm-6 col-md-1">
        <a class="btn bg-gradient-info" onclick="GetLeaveList(1)">Search</a>
    </div>
    <div class="col-sm-6 col-md-1">
        <a class="btn bg-gradient-dark" title="Clear" onclick="ClearData()"> Clear </a>
    </div>
</div>
@if (InvoiceManagementSystem.Models.SessionModel.RoleId != 1)
{
    <div style="margin-left:803px">
        <a href="#" class="btn bg-gradient-dark btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Filter" data-container="body" data-animation="true" onclick="ShowFilter()"><i class="fa fa-filter"></i></a>
        <a class="btn bg-gradient-info" title="Add Leave" data-bs-toggle="modal" data-bs-target="#Leave" onclick="Clear()" style="cursor:pointer;margin-left:0px">Add Leave</a>
    </div>
}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="dataTables_length" id="DataTables_Table_0_length">
                <label style="color:white">
                    Show
                    <select id="PageSize" onchange="GetLeaveList(1)" class="drpselect">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    entries
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Leave List</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <div id="tblBody"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Leave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-left:186px"><span id="PopupTitle">Add Leave</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:black">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">From Date</label>
                            <input class="form-control form-control-alternative" type="date" id="FromDate">
                            @*<input class="form-control form-control-alternative floating datetimepicker" type="date" id="Date" autocomplete="off">*@
                            <span id="errFromDate" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">ToDate</label>
                            <input class="form-control form-control-alternative" type="date" id="ToDate">
                            @*<input class="form-control form-control-alternative floating datetimepicker" type="date" id="Date" autocomplete="off">*@
                            <span id="errToDate" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">No.Of Days</label>
                            <input class="form-control form-control-alternative" type="number" id="NoOfDays" min="0" max="10">
                            @*<input class="form-control form-control-alternative floating datetimepicker" type="date" id="Date" autocomplete="off">*@
                            <span id="errDays" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Leave Type<span class="text-danger">*</span></label><br />
                            <select class="form-control form-control-alternative" id="LeaveType">
                                <option value="0">Select Leave Type</option>
                                <option value="1">Half-Day</option>
                                <option value="2">Full-Day</option>
                            </select>
                            <span id="errLeaveType" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Reason<span class="text-danger">*</span></label><br />
                            <textarea class="form-control form-control-alternative" id="Reason"></textarea>
                            <span id="errReason" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAdd" class="btn bg-gradient-info" onclick="InsertData()">Add</button>
                <button type="button" class="btn bg-gradient-dark" onclick="ClearData()">Clear</button>
                <input type="hidden" id="hdnintId" value="0" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="status" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-left:132px"><span id="PopupTitle">Status Confirmation</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:black">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-secondary text-xs font-weight-bolder opacity-100" style="margin-left:120px;">Are you sure want to change status?</p>
            </div>
            <div class="modal-footer" style="padding-right: 106px">
                <button type="button" id="btnAdd" class="btn bg-gradient-success" onclick="ApproveStatus()">Approve</button>
                <button type="button" id="btnAdd" class="btn bg-gradient-danger" onclick="RejectStatus()">Reject</button>
                <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete_Leave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-left:152px"><span id="PopupTitle">Delete Leave</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:black">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-secondary text-xs font-weight-bolder opacity-100" style="margin-left:120px;">Are you sure want to delete this Leave ?.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAdd" class="btn bg-gradient-danger" onclick="deleteLeave()">Delete</button>
                <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                <input type="hidden" id="hdnintId" value="0" />
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/School/Leave.js"></script>